*{
    padding:0;
    margin:0;
    font-family:  Helvetica,Arial, sans-serif;
}
.main{
    background-color:#60c7e9;
}
.header {
    padding:10px;
    text-align: center;
    height: 50px;
}
.header a{
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px; 
    font-size: 20px;  
    float:left;
}
.header a:hover{
    color:black;
}
.content{
    width:100%;
    color:white;
    border:5px dotted white;
    margin-left:-5px;
    padding:40px 0 50px 0;
}
.baoquat{
    width:50%;
}
.content .information {
    float:left;
    padding-left: 30px;
}
.photo{
    width:60%;
    text-align: center;
}
.content .photo img{
    width:70%;
}
.photo h3{
    color: blue;
    font-size: 30px;
    text-shadow: 5px 0.5px 0.5px;

}
.photo p{
    color:blue;
}
.footer{
    color:white;
    text-align: center;
    padding: 20px 0 10px 0;
}
.content .baoquat h2{
    padding-bottom: 20px;
    padding-left: 10px;
}
.content .baoquat p{
    padding-left: 10px;
}
.thongtin button{
    border: 2px dotted black;
    background-color:rgba(243, 242, 242, 0.829);
    border-radius: 5px;
    width:60px;
    height:20px;
}
.text_sky{
    position: absolute;
    top:20px;
    right:20px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 0.2em rgb(38, 11, 211), 0 0 0.2em rgb(36, 7, 228);
    color:white;
   
}
.thongtin input{
    border:1px solid blue;
    border-radius: 5px;
}
.content{
    display: flex;
    justify-content:space-between;
}
input select{
    box-sizing: border-box;
    width: 100%;
    padding:8px;
}
.thongtin {
    display: flex;
    padding:15px;
}